<!DOCTYPE html>
<html>

<head>
    <title>Тут написано, как называется вкладка в браузере</title>
    <link rel="stylesheet" href="style.css">
</head>

<>

    <ul>
        {%for i in range(5)%}
            <li>{{f[i]}}</li>
        {%endfor%}
    </ul>

    <h1>Это очень большой заголовок!</h1>

    <p>Это просто какой-то абзац текста</p>
  
    <h2>А это заголовок поменьше</h2>
    <ul>
        <li>А это точечки в списке (Это первая)</li>
        <li>А это вторая</li>
    </ul>
    <h1>Это очень большой заголовок!</h1>
     <img src="images/python_logo.png" width="100" alt="Image 1">
     <h1>Это очень большой заголовок!</h1>

    <input type="text"/>
    <input type="button"/>

    <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/33/vladikavkaz/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Владикавказ</a><a href="https://yandex.ru/maps/33/vladikavkaz/house/prospekt_mira_48/YE0YcA9gSkMGQFppfXxycnlhYw==/?ll=44.680361%2C43.033527&utm_medium=mapframe&utm_source=maps&z=15.9" style="color:#eee;font-size:12px;position:absolute;top:14px;">Проспект Мира, 48 — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?ll=44.680361%2C43.033527&mode=whatshere&whatshere%5Bpoint%5D=44.680408%2C43.033609&whatshere%5Bzoom%5D=17&z=15.9" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/jNQXAC9IVRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <iframe width="560" height="315" allow="fullscreen; autoplay; encrypted-media" src="https://games.construct.net/769/latest" frameborder="0" allowfullscreen="true" msallowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" allowpaymentrequest="false" referrerpolicy="unsafe-url" sandbox="allow-same-origin allow-forms allow-scripts allow-pointer-lock allow-orientation-lock allow-popups" scrolling="no"></iframe>
    <iframe src="https://www.meteoblue.com/en/weather/widget/daily/vladikavkaz_russia_473249?geoloc=fixed&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=0&pictoicon=1&maxtemperature=0&maxtemperature=1&mintemperature=0&mintemperature=1&windspeed=0&windspeed=1&windgust=0&winddirection=0&winddirection=1&uv=0&humidity=0&precipitation=0&precipitation=1&precipitationprobability=0&precipitationprobability=1&spot=0&spot=1&pressure=0&layout=light"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 216px; height: 420px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/en/weather/week/vladikavkaz_russia_473249?utm_source=weather_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a></div>
    </body>

</html>